@import '../../styles/vars.scss';

.pipe-card {
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

  &--blue {
    background-color: lighten($blue, 35%);
  }

  &--cyan {
    background-color: lighten($cyan, 35%);
  }

  &--gray {
    background-color: lighten($gray, 35%);
  }

  &--green {
    background-color: lighten($green, 35%);
  }

  &--orange {
    background-color: lighten($orange, 35%);
  }

  &--pink {
    background-color: lighten($pink, 35%);
  }

  &--purple {
    background-color: lighten($purple, 35%);
  }

  &__count {
    color: $gray;
  }

  &__name {
    font-weight: bold;
  }
}
